$root-size: 4px;
$default-width: 1400px;
$names: maria, valen, zulu;
// $map1: {
//   maria: gomez;
//   valen: pallotti;
//   zulu: gimenez;
// }
// .testclass {
//   font-size: 50 * $root-size;
// }

// condicionales

@if $root-size == 4px {
  .testclass {
    color: red;
  }
} @else if $root-size == 6px {
  .testclass {
    color: blue;
  }
} @else {
  .testclass {
    color: orange;
  }
}

// bucles
@for $i from 1 through 12 {
  .mt-#{$i} {
    margin-top: $i * 1rem;
  }
}

// each
@each $name in $names {
  .#{$name} {
    font-size: 5px;
  }
}

// // maps
// @each $nombre, $apellido in $map1 {
//   .#{$nombre} {
//     content: "#{$apellido}";
//   }
// }
